/* Media Queries */
body{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}
.md{
    font-family: sans-serif;
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
}
.md h1{
    background-color: darkgreen;

}
.md p{
    background-color: darkmagenta;
}
.syntax{
    background-color: blue;
}
@media (min-width: 320px) and (max-width: 440px) {
    .syntax{
        font-size: 40px;
    }
  }
@media (min-width: 490px) and (max-width: 768px) {
    .syntax{
        font-size: 50px;
    }
  }
@media (min-width: 780px) and (max-width: 1024px) {
    .syntax{
        font-size: 60px;
    }
  }
@media (min-width: 1080px) and (max-width: 1200px) {
    .syntax{
        font-size: 70px;
    }
  }
@media (min-width: 1260px) and (max-width: 1440px) {
    .syntax{
        font-size: 80px;
    }
  }



/* position */
.pos {
    height: 300vh;
}
.scorllhead {
    position: relative;
    top: 0;
}

nav {
    background-color: black;
    color: pink;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.photo {
    height: 100vh;
    width: 100%;
    background-color: rgba(193, 193, 193, 0.407);
}

.photo img {
    position: fixed;
    margin-left: 60px;
    width: 220px;
    height: 450px;
}
.mixphoto {
    background-color: pink;
    height: 470px;
    width: 470px;
    position: absolute;
    top: 5rem;
    right: 0;
    margin-right: 80px;
}

#img1, #img2 {
    position: absolute;
}
#img1{
    margin-top: 40px;
    padding-left: 5px;
    width: 300px;
    height: 350px;
}
#img2 {
    width: 200px;
    height: 350px;
    bottom: 60px;
    padding-left: 100px;
}
/* floating */
.container{
    font-family: sans-serif;
    width: 80%;
    margin: 8rem;
}

.container .p1{
    font-size: 20px;
    clear: left;
}
.container .p2{
    font-size: 20px;
    clear: right;
    margin-top: 300px;
}
.pic1{
    float: right;
}
.pic2{
    float: left; 
    margin-top: 280px; 
}